<div class='card'>
  <img class='card-img' src='{{flag}}' alt='{{name.official}}' />
  <h2 class='card-country-name'>{{name.official}}</h2>

  <ul class='card-body'>
    <li class='card-description'>
      <p>Capital: {{capital}}</p>
    </li>
    <li class='card-description'>
      <p>Population: {{population}}</p>
    </li>
    <li class='card-description'>
      <p>Languages: {{languages}}</p>
    </li>
  </ul>
</div>